.message-container{
	display: flex;
	margin: 5px;
}

.message{
	max-width: 80%;
	display: inline-block;
	padding: 5px 10px;
	background-color: #F5F5F5;
	border-radius: 5px;
	border: 1px solid #eeeeee;
}

.my-message .message{
	background-color: dodgerblue;
	color: #ffffff;
}

.message-author{
	color: darkgrey;
	font-size: 10px;
}

.message-text{
	color: #292929;
	font-size: 14px;
	word-break: break-all;
}

.my-message{
	justify-content: flex-end;
}

.my-message .message-author,
.my-message .message-text{
	color: inherit;
}